*{
  font-family: 'Overpass', sans-serif;
}
/* width */
::-webkit-scrollbar {
  display: none;
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa500; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

html {
  scroll-behavior: smooth;
}

        body{
            padding: 0;
            margin: 0;

        }
     html {
  font-family: 'Roboto Condensed', sans-serif;
}





#mainnav {
  position: fixed;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
    
}
#mainnav li {
  margin: 55px 0;
  left: -550px;
  position: relative;
  display: none;
    
}
#mainnav a {
  color: white;   
  text-decoration: none;
  font-size: 1.4em;
} 
        ul li{
            list-style: none;
            margin-top: -50px;
            
        }
.hamb {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2.5em;
  z-index: 1;
}
.hamb a {
  color: #fff;
  text-decoration: none;
}
html, body, .hero {
  height: 100%;
  width:100%;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 600px;
  background:rgb(0,0,0);
  background-size: cover;
  overflow: hidden;
}
.nineteen{
  position: relative;
  margin-top: 5%;
  margin-bottom: -5%;
  margin-left: 30%;
  width: 8%;
}
.pc{
  position: relative;
  margin-top: -40px;
  margin-bottom: -150px;
  width: 80%;
  z-index: 0;
}
.zenith{
  position: relative;
  width: 30%;
  z-index: 2;
}
.hero p{
  margin:0;
}
.Where-innovation-mee {
  position: relative;
  text-shadow: 0 2px 4px #ffffff;
  font-family: Overpass;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}
.th-April {
  position: relative;
  text-shadow: 0 2px 4px #ffffff;
  font-family: Overpass;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
  z-index: 2;
}
.row-1 {
  width: 100%;
  height: 5%;
  border: none;
  color: black;
  transform: translate(0px,-120px);
  background-color: black;
  z-index: 999;
}
.svg{
  padding-top:3%;
  width: 29%;
  margin-left:16%;

}
.whatiszenith1{

  width: 37%;
  margin-bottom:29%;
}
.whatiszenith2{
  margin-left: -19%;
  width: 42%;
  margin-top:12%;
}

.paragraph{
  width: 42%;
  margin-right:11%;
  margin-top: 3.5%;
  font-size:19px;
  text-align:justify;
}
.paragraph p{
  margin:6%;
}
h1 {
  font-size: 100px;
  text-align: center;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  width: 100%;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-content {
  font-size: 30px!important;
  z-index: 999;
  color: #ffa500;
}

#bubble {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}
     
        
        .gap{
             
            color: white;
            margin-top: 100px;
            width: 200px;
            
             
             
        }
        
        h1 span{
            font-size: 90px;
            letter-spacing: 4;
            margin-left: -30px;
            color: orange;
        }

/*.hero-2 {
  width: 100%;
  min-height: 900px;
  background-image:url(bg.png);
  background-size: cover;
}*/

.parallax-window {
    /*min-height: 1000px;*/
    background: transparent;
    text-align: center;
    margin: 0px;
    width: 100%!important;
    height:100% !important;
    padding-top:6%;
}

.parallax-window-2 {
    min-height: 3500px;
    background: transparent;
    text-align: center;
    margin: 0px;
    width: 100!important;
    background-image: src('bg-3.png');
}

.header-2 {
  color: #ffffff;
  font-size: 60px;
  z-index: 999;
  margin-top:2%;
  font-weight: 700;
}
#header-2{
  margin-top:2%;
}

.wraper {
  text-align: center!important;
}

.para {
  color:  #ffffff;
}

.para-2 {
  color: #ffa500;
}

.content-2 {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.header-3 {
  z-index: 999;
  color: #ffffff;
  font-family: 'Overpass', sans-serif !important;
  font-size: 60px;
  font-weight:700;
  text-align:center;
}
.We-have-series-of-in {
  width: 70%;
  margin:auto;
  font-family: 'Overpass', sans-serif;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#container .box {
  margin:0px;
  width:500px;
  height: 600px;
  display:inline-block;
  position:relative;
}
#container .box > div {
  margin-top: 10%;
  width:350px;
  font-size:100px;
  color:#FFF;
  position:relative;
  white-space: normal;
  
  
}
#container {
  margin-bottom: -2000px;
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:transparent;
  position:relative;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}

.code {
  float: right;
  text-align: justify;
}

.code-head {
  color: #ffffff;
  font-size: 50px;
  text-align:center;
  

}
.code-head:hover{
  color:#ffa500;
}

.code-para {
  color: white;
  font-size: 25px;
  float: right;
  text-align: justify;
  margin-right: 2%;
  margin-left: 2%;
  font-family: 'Overpass', sans-serif !important;
}

.row {
  width: 100%;
  height: 80px;
  border: none;
  color: black;
  transform: translate(0px,-40px);
  background-color: black;
  z-index: 999;
}

.br {
  display: block;
}
.contact-container{
  margin:auto;
  width:50%;
}
#header-4 p{
  text-align:center;
  font-family: 'Overpass', sans-serif !important;
  font-weight:700;
  margin-bottom:10%;

}
.contact-heading{
  font-size:60px !important;
  color:#ffffff;
  margin-top:0px;
}
.contact-numbers{
  color:#ffffff;
  font-size:27px;
}
.mailing-address{
  color:#ffa500;
  font-size:30px;
}
.address{
  color:#ffffff;
  font-size:27px;
}
/*
.header-4 {
  font-size: 120px;
  color: white;
  font-weight: bold;
}

.call {
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.number {
  color: #ffa500;
  font-size: 60px;
  font-weight: bold;
}

.mail {
  color: #ffa500;
  font-size: 60px;
}
.developers {
  color: #ffa500;
  font-size: 60px;
}


.email {
  color: white;
  font-size: 50px;
}

.site {
  background-color: #ffa500;
  font-size: 50px; 
}

.website {
  color: white;
  font-size: 50px;
}

.reach {
  font-size: 50px;
  color: #ffa500;   
}

.ymca {
  color: white;
  font-size: 40px;
}
*/
@media only screen and (max-width: 600px){
  .hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-height: 600px;
  background:rgb(0,0,0);
  background-size: cover;
}
.We-have-series-of-in {
  width: 100%;
  font-family: sans-serif;

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
  .nineteen{
  width: 90%;

}

.zenith{
  margin-left: 0px;
  width: 100%;
  z-index: 2;
}
.pc{
  object-fit: cover;
  margin-bottom: -300px;
  margin-top: -40px;
  height: 60%;
  z-index: 0;
}
.Where-innovation-mee {
  position: relative;
  margin-bottom: 0px;
  align-items: center;
  width: 100%;
  height: 39px;
  text-shadow: 0 2px 4px #ffffff;
  font-family: Overpass;
  font-size: 31px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}
.th-April {
  text-shadow: 0 2px 4px #ffffff;
  font-family: Overpass;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.svg{
  width: 100%;

}
.whatiszenith1{
  margin-top:0%;

  width: 100%;
}
.whatiszenith2{
  margin-left: 48%;
  margin-top: -50%;
  width: 50%;
}

.paragraph{
  margin-top:;
  width: 100%;

}



  .br {
    display: none;
  }
  .parallax-window-2 {
    min-height: 1000px;
  }
  h1 {
    font-size: 80px;
  }
  .header-2 {
    font-size: 50px;
  }
  .para {
    font-size: 20px;
    margin-right: 20px;
  }
  .para-2 {
    font-size: 20px;
    margin-right: 20px;
  }
  .content-2 {
    margin-left: 30%;
  }
  .header-3 {
    font-size: 60px;
  }
  .xunbao-head {
    font-size: 40px;
  }
  .xunbao-para {
    font-size: 20px;
    margin-right: 8%;
  }
  .presentation-head {
    font-size: 40px;
    margin-left: 6%;
  }
  .presentation-para {
    font-size: 20px;
    margin-left: 8%;
  }
  .code-head {
    font-size: 40px;
    margin-right: 50px;
  }
  .code-para {
    font-size: 20px;
    margin-right: 8%;
  }
  .header-4 {
    font-size: 40px;
  }
  .call {
    font-size: 20px;
  }
  .number {
    font-size: 30px;
  }
  .mail{
    font-size: 20px;
  }
  .email{
    font-size: 25px;
  }
  .website{
    font-size: 20px;
  }
  .site{
    font-size: 25px;
  }
  .reach{
    font-size: 20px;
  }
  .ymca{
    font-size: 30px;
  }
}